$variant: 'light';

@import 'colors';

.XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-image: none;
    background-color: shade($bg_color, 1.18);
    color: $text_color;
    text-shadow: 0px 1px $shadow_color;
}

.xfce4-panel.background {
    background-color: shade($panel_bg_color, 0.35);
    color: $panel_fg_color;
    font-weight: normal;
    button {
        background-image: none;
        background-color: transparent;
        border-radius: 0;
        border-color: transparent;
        box-shadow: none;
        padding: 0 1px;
        color: $panel_fg_color;
        text-shadow: 0px 1px $shadow_color;
        &:active, &:checked {
            background-image: none;
            background-color: shade($panel_bg_color, 0.7);
            border-color: shade($panel_bg_color, 0.6);
            color: $panel_fg_color;
            transition: none;
        }
        &:hover, &:active:hover, &:checked:hover {
            border-color: shade($selected_bg_color, 0.6);
            background-image: linear-gradient(to bottom,
                                              shade($selected_bg_color, 0.88),
                                              shade($selected_bg_color, 0.85)
                                              );
            color: $panel_fg_color;
            box-shadow: inset 0 -1px gtkalpha(white, 0.0),
                        inset 1px 0 gtkalpha(white, 0.15),
                        inset -1px 0 gtkalpha(white, 0.15),
                        inset 0 1px gtkalpha(white, 0.15);
            transition: none;
        }
    }
    menu {
        -gtk-icon-effect: none;

        text-shadow: none;
    }
    .tasklist button {
        padding: 3px;
        margin: 1px;
        border-radius: 3px;
        text-shadow: 0 1px $fg_color;
        color: shade($panel_fg_color, 0.7);
        background-image: linear-gradient(to bottom,
                                          shade($panel_bg_color, 0.65),
                                          shade($panel_bg_color, 0.60),
                                          shade($panel_bg_color, 0.50),
                                          shade($panel_bg_color, 0.45)
                                          );
        border-color: shade($panel_bg_color, 0.7);
        &.flat {
            background-image: none;
            border: none;
            box-shadow: none;
        }
        &:active, &:checked {
            border-color: shade($selected_bg_color, 0.7);
            background-image: linear-gradient(to bottom,
                                              shade($selected_bg_color, 0.65),
                                              shade($selected_bg_color, 0.60),
                                              shade($selected_bg_color, 0.50),
                                              shade($selected_bg_color, 0.45)
                                              );
            color: shade($panel_fg_color, 1.0);
        }
        &:hover, &:active:hover, &:checked:hover {
            background-image: linear-gradient(to bottom,
                                              shade($selected_bg_color, 0.85),
                                              shade($selected_bg_color, 0.80),
                                              shade($selected_bg_color, 0.70),
                                              shade($selected_bg_color, 0.65)
                                              );
            color: shade($panel_fg_color, 1.0);
            box-shadow: none;
        }
    }
}

/* Workspace switcher provided by libwnck */
wnck-pager {
  &:selected { background-color: shade($selected_bg_color, 0.88); }
  &:hover { background-color: $selected_bg_color; }
}

#XfceNotifyWindow {
    background-color: shade($panel_bg_color, 0.3);
    color: $panel_fg_color;
    border-color: shade($panel_bg_color, 0.6);

    button {
        background-image: none;
        border-color: shade($panel_fg_color, 0.35);
        border-radius: 3px;
        box-shadow: none;
    }

    label#summary {
        font-weight: bold;
    }

    progressbar {
        min-height: 6px;
        border-radius: 3px;
        progress {
            background-image: none;
            background-color: $panel_fg_color;
            border: none;
            box-shadow: none;
        }
        trough {
            background-image: linear-gradient(to bottom,
                                              shade($panel_bg_color, 0.65),
                                              shade($panel_bg_color, 1.25)
                                              );
            border: 1px solid shade($panel_bg_color, 0.2);
            border-radius: 3px;
            padding: 1px 0;
        }
    }
}
