/* 
	GREYBIRD GTK3
	MODIFIED BY: ochosi
	ORIGINAL AUTHOR: lassekongo83
	WEBSITE: http://lassekongo83.deviantart.com
	LICENSE: GPL
	DESCRIPTION: A minimalistic and usable theme made for gtk3 apps. 
	Tip to theme developers: Use 'alpha (#000, 0.00)' to hide something you think look ugly. :-)
	This theme may use theme_bg_color for the widgets more than the color properties defined in the gtk.css file.
*/

* {
	engine: adwaita;
	padding: 1;

	/* Style properties */
	-GtkToolButton-icon-spacing: 4;

	-GtkTextView-error-underline-color: @error_color;

	-GtkPaned-handle-size: 0;

	-GtkCheckButton-indicator-size: 16;
	-GtkCheckMenuItem-indicator-size: 12;

	/* The size for scrollbars. The slider is 2px smaller, but we keep it
	* up so that the whole area is sensitive to button presses for the
	* slider. The stepper button is larger in both directions, the slider
	* only in the width
	*/

	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;

	-GtkToolItemGroup-expander-size: 12;
	-GtkExpander-expander-size: 12;
	-GtkToolbar-internal-padding: 4;     /* ??? */

	-GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;

	-GtkWidget-link-color: @link_color;
	-GtkWidget-visited-link-color: @link_color;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkHTML-link-color: @link_color;

	-GtkWidget-wide-separators: 1;

	-WnckTasklist-fade-overlay-rect: 0;

	-GtkEntry-inner-border: 2;
	-GtkEntry-progress-border: 0;

	/* Style */
	background-color: @theme_bg_color;
	color: @theme_fg_color;
	border-radius: 0;

	-GtkWidget-focus-padding: 1;
	-GtkWidget-focus-line-width: 1;
	-adwaita-focus-border-color: alpha (@theme_text_color, 0.4);
	-adwaita-focus-border-radius: 2;
	-adwaita-focus-fill-color: none;
	-adwaita-focus-border-gradient: none;
	-adwaita-focus-border-dashes: 1;
}

/***************
 * Base States *
 ***************/
*:hover {
	background-color: shade (@theme_bg_color, 1.02);
	color: @theme_fg_color;
}

*:selected {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

*:selected:focused {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

*:insensitive {
	background-color: @insensitive_bg_color;
	color: @insensitive_fg_color;
}

*:active {
	background-color: shade (@theme_bg_color, 0.915);
}

.background {
	border-style: none;
	border-width: 0;
	border-radius: 0;
}

.tooltip {
	padding: 4 4;
	border-style: solid;
	border-width: 1;
	border-color: shade (@theme_tooltip_bg_color, 0.55);
	background-color: @theme_tooltip_bg_color;
	background-image: -gtk-gradient (linear,left top, left bottom,from (shade (@theme_tooltip_bg_color, 1.05)),to (shade (@theme_tooltip_bg_color, 0.96)));
	color: @theme_tooltip_fg_color;
	border-radius: 0;
}

/* That little ugly gripper at the bottom right in some windows. Wish I could remove it with display: none. :( */
.grip {
	background-color: alpha (@inactive_frame_color, 0.00);
}

.pane-separator {
	background-color: @theme_bg_color;
	color: shade (@inactive_frame_color, 0.80);
}

.pane-separator:prelight,
.pane-separator:selected {
	background-color: @theme_bg_color;
	border-color: shade (@highlighted_border, 0.964);
}

/****************
 * Text Entries *
 ****************/
.entry,
.toolbar.entry {
	background-color: @theme_base_color;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_base_color, 0.95)),
		to (shade (@theme_base_color, 1.00)));

	border-radius: 2;
	border-width: 1;
	border-style: solid;
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_border_gradient_b, 0.80)),
		to (shade (@button_border_gradient_a, 0.80)));

	padding: 2;
}

.entry:focused {
	border-color: @theme_selected_bg_color;
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_selected_bg_color, 0.50)),
		to (shade (@theme_selected_bg_color, 0.80)));
}

.entry:insensitive {
	background-color: @insensitive_bg_color;
	border-color: shade (@inactive_frame_color, 0.945);
	-adwaita-border-gradient: none;
}

.entry.progressbar {
	/* FIXME: need correct colors/gradient */
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;

	border-width: 1;
	border-radius: 1;
	border-color: @progressbar_border;
}

/*****************
 * GtkSpinButton *
 *****************/
.spinbutton.button,
.spinbutton.button:insensitive,
.spinbutton.button:prelight,
.spinbutton.button:active {
	background-image: none;
	background-color: @theme_base_color;
	border-width: 1;
	border-style: none;
}

.spinbutton {
	padding: 3 2;
}

/****************
 * Progress bar *
 ****************/
GtkProgressBar.progressbar {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@progressbar_background_a),
		to (@progressbar_background_b));

	border-radius: 2;
	border-style: solid;
	border-color: @progressbar_border;
}

GtkProgressBar.trough {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@scrolltrough_gradient_a),
		to (@scrolltrough_gradient_b));

	border-width: 1;
	border-style: solid;
	border-radius: 2;
	border-color: shade (@inactive_frame_color, 0.925);
}

/************
 * GtkScale *
 ************/
GtkScale {
	-GtkScale-slider-length: 16;
	-GtkRange-slider-width: 22;
	-GtkRange-trough-border: 0;
}

GtkScale.slider {
	border-width: 1;
	border-radius: 2;

	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_gradient_a),
		to (@button_gradient_b));

	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_border_gradient_a, 1.00)),
		to (shade (@button_border_gradient_b, 1.00)));
}

GtkScale.slider:hover {
	border-width: 1;
	border-radius: 2;

	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_gradient_a, 1.10)),
		to (shade (@button_gradient_b, 1.10)));

	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_border_gradient_a, 1.00)),
		to (shade (@button_border_gradient_b, 1.00)));
}

GtkScale.slider:insensitive {
	background-image: none;
	-adwaita-border-gradient: none;
}

GtkScale.scale-has-marks-below.slider.horizontal {
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@internal_element_color, 0.90)),
		to (shade (@internal_element_color, 1.35)));
}

GtkScale.scale-has-marks-below.slider.vertical {
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, right top,
		from (shade (@internal_element_color, 0.90)),
		to (shade (@internal_element_color, 1.35)));
}

GtkScale.scale-has-marks-above.slider.horizontal {
	-adwaita-border-gradient: -gtk-gradient (linear,
		left bottom, left top,
		from (shade (@internal_element_color, 0.90)),
		to (shade (@internal_element_color, 1.35)));
}

GtkScale.scale-has-marks-above.slider.vertical {
	-adwaita-border-gradient: -gtk-gradient (linear,
		right top, left top,
		from (shade (@internal_element_color, 0.90)),
		to (shade (@internal_element_color, 1.35)));
}

GtkScale.trough {
	border-width: 1;
	border-radius: 2;
	border-style: solid;
	border-color: @button_border_gradient_a;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@scrolltrough_gradient_b, 1.00)),
		to (shade (@scrolltrough_gradient_a, 1.00)));
}

GtkScale.trough:insensitive {
	background-color: shade (@theme_bg_color, 1.20);
	border-color: shade (@inactive_frame_color, 0.845);
}

GtkScale.trough.horizontal {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@scrolltrough_gradient_b, 1.00)),
		to (shade (@scrolltrough_gradient_a, 1.00)));
}

GtkScale.trough.vertical {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@scrolltrough_gradient_b, 1.00)),
		to (shade (@scrolltrough_gradient_a, 1.00)));
}

GtkScale.progressbar {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@scale_fill_a),
		to (@scale_fill_b));

	border-color: @progressbar_border;
	border-width: 1;
	border-radius: 2;
	border-style: solid;
}

GtkScale.mark {
	background-color: shade (@theme_bg_color, 0.56);
}

GtkFrame,
GtkCalendar {
	padding: 2;
}

.frame {
	color: lighter (@theme_fg_color);
	border-style: none;
	border-width: 0;
}

/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
	padding: 2;

	border-color: @button_border_gradient_a;
	border-style: solid;
	border-width: 1;
	border-radius: 0;

	background-color: @theme_base_color;

	-GtkNotebook-tab-overlap: -2;
	-GtkNotebook-tab-curvature: 4;
}

.notebook tab {
	padding: 3 4 0;
	/*-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade(@theme_bg_color,0.65)),
		to (shade(@theme_bg_color,0.65)));*/
	background-color: shade(@theme_bg_color,0.85);
	-adwaita-focus-border-radius: 2;
}

.notebook tab:active {
	border-width: 1;

	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_border_gradient_a),
		to (@button_border_gradient_a));

	-adwaita-selected-tab-color: shade(@theme_bg_color,1.04);
	background-color: shade(@theme_bg_color,1.04);
	background-image: none;
}

.notebook tab .button,
.notebook tab .button:hover,
.notebook tab .button:hover:active {
	border-style: none;
	background-color: alpha (@theme_bg_color, 0.0);
	background-image: none;
}

/**************
 * ComboBoxes *
 **************/

GtkComboBox {
	padding: 1 2;

	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 0;

	-GtkComboBox-arrow-scaling: 0.5;
	-GtkComboBox-shadow-type: 2;
}

GtkComboBox .button {
	color: @internal_element_color;
	padding: 1;
}

GtkComboBox .button:prelight {
	color: shade (@internal_element_color, 0.66);
}

/**************
 * Scrollbars *
 **************/

.scrollbar {
	background-image: none;
	border-style: solid;
	-GtkRange-trough-border: 1;
	-GtkRange-arrow-scaling: 0.7;
	-GtkRange-slider-width: 10;
	-GtkRange-stepper-size: 10; /* Those ugly buttons */
	-GtkScrollbar-min-slider-length: 40; /* minimum size for the slider. sadly can't be in '.slider' where it belongs */

	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-under-steppers: 1;
}

/* Trough */
.scrollbar.trough.vertical {
	background-color: @scrollslider_border;
	border-width: 0;
	border-style: none;
	border-radius: 0;
}

.scrollbar.trough.horizontal {
	background-color: @scrollslider_border;
	border-width: 0;
	border-style: none;
	border-radius: 0;
}

/* Sliders */
.scrollbar.slider.vertical {
	background-color: @scrollslider;
	border-color: @scrollslider_border;
	border-radius: 10;
	border-width: 1;
	border-style: solid;
}

.scrollbar.slider.vertical:prelight {
	background-color: shade (@scrollslider, 0.65);
	border-color: @scrollslider_border;
}

.scrollbar.slider.vertical:prelight:active {
	background-color: shade (@scrollslider, 0.65);
	border-color: @scrollslider_border;
}

.scrollbar.slider.horizontal {
	background-color: @scrollslider;
	border-color: @scrollslider_border;
	border-radius: 10;
	border-width: 1;
	border-style: solid;
}

.scrollbar.slider.horizontal:prelight {
	background-color: shade (@scrollslider, 0.65);
	border-color: @scrollslider_border;
}

.scrollbar.slider.horizontal:prelight:active {
	background-color: shade (@scrollslider, 0.65);
	border-color: @scrollslider_border;
}

/* Ugly scrollbar buttons */
.scrollbar.button.vertical {
	background-image: none;
	background-color: alpha (@scrollslider_border, 0.00);
	border-color: none;
	border-radius: 0;
	border-width: 0;
	color: @theme_dark_bg_color;
}

.scrollbar.button.horizontal {
	background-image: none;
	background-color: alpha (@scrollslider_border, 0.00);
	border-color: none;
	border-radius: 0;
	border-width: 0;
	color: @theme_dark_bg_color;
}

.scrollbar.button.vertical:prelight {
	background-image: none;
	background-color: alpha (@scrollslider_border, 0.00);
	border-color: none;
	color: @theme_text_color;
}

.scrollbar.button.vertical:prelight:active {
	background-image: none;
	background-color: alpha (@scrollslider_border, 0.00);
	border-color: none;
	color: @theme_text_color;
}

.scrollbar.button.horizontal:prelight {
	background-image: none;
	background-color: alpha (@scrollslider_border, 0.00);
	border-color: none;
	color: @theme_text_color;
}

.scrollbar.button.horizontal:prelight:active {
	background-image: none;
	background-color: alpha (@scrollslider_border, 0.00);
	border-color: none;
	color: @theme_text_color;
}

.scrollbar.button:insensitive {
	color: lighter (@internal_element_color);
	background-image: none;
	background-color: alpha (@scrollslider_border, 0.00);
	color: @theme_bg_color;
}

.scrollbar.slider:insensitive {
	background-color: @theme_bg_color;
}

.scrollbar.trough:insensitive {
	background-color: @theme_base_color;
}

/***********
 * Buttons *
 ***********/
.button {
	padding: 1 4;

	-adwaita-focus-fill-color: alpha (@theme_base_color, 0.35);
	-adwaita-focus-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@keyboard_focus_border_a, 0.62)),
		to (alpha (@keyboard_focus_border_b, 0.62)));
	-adwaita-focus-border-radius: 1;
	-adwaita-focus-border-dashes: 0;
	-GtkWidget-focus-line-width: 1;

	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_border_gradient_a),
		to (@button_border_gradient_b));

	-GtkButton-child-displacement-x: 1;
	-GtkButton-child-displacement-y: 1;
	-GtkButton-image-spacing: 4;
	-GtkButton-interior-focus: true;
	-GtkButton-default-border: 0;
	-GtkButton-inner-border: 0;

	border-radius: 2;
	border-width: 1;
	border-color: shade (@button_border_gradient_a, 0.90);
	border-style: solid;

	/* Adding color stops and border gradients for a tiny 3D effect. I'm still waiting for the box-shadow property. >:( */
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_gradient_a, 1.00)),
		color-stop (0.04, shade (@button_gradient_a, 1.95)),
		color-stop (0.05, shade (@button_gradient_a, 1.00)),
		color-stop (0.89, shade (@button_gradient_b, 1.00)),
		color-stop (0.90, shade (@button_gradient_b, 0.84)),
		to (shade (@button_gradient_b, 1.00));
}

.button:hover,
.toolbar.button:hover {
	border-color: @button_border_gradient_a;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_gradient_a, 1.10)),
		color-stop (0.04, shade (@button_gradient_a, 1.95)),
		color-stop (0.05, shade (@button_gradient_a, 1.10)),
		color-stop (0.89, shade (@button_gradient_b, 1.10)),
		color-stop (0.90, shade (@button_gradient_b, 0.94)),
		to (shade (@button_gradient_b, 1.10));
}

.button:active,
.toolbar .button:active,
.button:hover:active,
.toolbar.button:hover:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_gradient_b, 0.80)),
		color-stop (0.04, shade (@button_gradient_b, 0.70)),
		color-stop (0.05, shade (@button_gradient_b, 0.86)),
		color-stop (0.89, shade (@button_gradient_a, 0.80)),
		color-stop (0.90, shade (@button_gradient_a, 0.94)),
		to (shade (@button_gradient_a, 0.80));
	border-color: shade (@highlighted_border, 0.70);
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_border_gradient_b, 1.00)),
		to (shade (@button_border_gradient_a, 1.00)));
}

.button:insensitive {
	background-image: none;
	background-color: @insensitive_bg_color;
	color: @insensitive_fg_color;
}

.button.default {
	border-width: 2;
	border-color: shade (@button_border_gradient_a, 1.10);
}

/*********
 * Menus *
 *********/

/* This controls the general appearance of the menubar. */
.menubar {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@menubar_gradient_a),
		to (@menubar_gradient_b));
	border-width: 0;
	border-style: none;
	padding: 1;
	color: @theme_text_color;

	-GtkWidget-window-dragging: true;
	-GtkMenuBar-internal-padding: 0;
}

.menubar.menuitem:prelight {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_dark_bg_color, 0.70)),
		to (shade (@theme_dark_bg_color, 0.50))); 
	background-color: shade (@theme_dark_bg_color, 0.7);
	color: @theme_base_color;
	border-style: solid;
	border-radius: 0;
	border-width: 1;
	border-color: shade (@theme_dark_bg_color,0.3);
}

.menubar.menuitem {
	border-width: 1;
	border-style: none;
	padding: 1 1;
	color: @theme_text_color;
}

.menu {
	padding: 0;

	background-color: @theme_dark_bg_color;

	border-style: solid;
	border-width: 1;
	border-radius: 0;
	border-color: shade (@theme_dark_bg_color,0.7);

	-GtkMenuItem-arrow-scaling: 0.5;
}

.menuitem {
	-adwaita-menuitem-arrow-color: @menu_controls_color;
	padding: 1;
	color: @theme_base_color;
}

.menuitem.accelerator {
	color: alpha (@theme_base_color, 0.66);
}

.menuitem.accelerator:prelight,
.menuitem.accelerator:active {
	color: alpha (@theme_base_color, 0.8);
}

.menuitem:active,
.menuitem:prelight {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_dark_bg_color, 0.70)),
		to (shade (@theme_dark_bg_color, 0.50))); 
	background-color: shade (@theme_dark_bg_color, 0.7);
	color: @theme_base_color;
	border-style: solid;
	border-width: 1; /* Keep at 1. Menu gets bumpy otherwise. */
	border-radius: 0;
	border-color: shade (@theme_dark_bg_color,0.3);
}

.menu.separator {
	border-color: alpha (@inactive_frame_color, 0.40);
	-GtkSeparatorMenuItem-horizontal-padding: 0;
	-GtkWidget-separator-height: 1;
}

/* menu radio and check items are drawn differently */
.menu.check:active {
	color: @menu_controls_color;
}

.menu.radio:active {
	color: @menu_controls_color;
}

.menu.check:prelight {
	color: @theme_selected_fg_color;
}

.menu.radio:prelight {
	color: @theme_selected_fg_color;
}

/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
.check,
.check row:selected,
.check row:selected:focused {
	background-image: url ("assets/checkbox-unchecked.svg");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focused:insensitive {
	background-image: url ("assets/checkbox-unchecked-insensitive.svg");
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active {
	background-image: url ("assets/checkbox-checked.svg");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focused:active:insensitive {
	background-image: url ("assets/checkbox-checked-insensitive.svg");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focused:inconsistent {
	background-image: url ("assets/checkbox-mixed.svg");
}

.radio,
.radio row:selected,
.radio row:selected:focused {
	background-image: url ("assets/radio-unselected.svg");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focused:insensitive {
	background-image: url ("assets/radio-unselected-insensitive.svg");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
	background-image: url ("assets/radio-selected.svg");
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focused:active:insensitive {
	background-image: url ("assets/radio-selected-insensitive.svg");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focused:inconsistent {
	background-image: url ("assets/radio-mixed.svg");
}

/************
 * Toolbars *
 ************/
.toolbar {
	border-style: solid;
	border-color: darker (@theme_bg_color);
	border-width: 0;
	border-radius: 0;
	padding: 0;
	background-image: -gtk-gradient (linear,
		left top,
		left bottom,
		from (shade (@theme_bg_color, 1.00)),
		to (shade (@theme_bg_color, 1.00)));
}

.toolbar:insensitive {
	color: alpha (@theme_fg_color, 0.6);
}

/********************
 * Primary Toolbars *
 ********************/

/* Color stops can add top and bottom borders if needed */
.primary-toolbar.toolbar {
	background-image: -gtk-gradient (linear,
		left top,
		left bottom,
		from (shade (@toolbar_gradient_a, 1.00)),
		color-stop (0.97, shade (@toolbar_gradient_b, 1.00)),
		color-stop (0.98, shade (@toolbar_gradient_b, 0.90)),
		to (shade (@toolbar_gradient_b, 1.00)));
	border-width: 0;
	border-radius: 0;
	border-style: none;

	padding: -2;

	-GtkWidget-window-dragging: true;
	-GtkToolbar-button-relief: 0;
}

.primary-toolbar.toolbar:insensitive {
	background-image: none;
	background-color: shade (@theme_bg_color, 0.97);
	border-style: solid;
	border-width: 1;
	border-color: shade (@theme_bg_color, 0.91);
}

/* primary toolbar buttons */
.primary-toolbar.toolbar.button {
	padding: 0 2;

	border-style: none;
	border-width: 1;
	background-image: none;
	/* This makes that little arrow button in the nautilus toolbar transparent for example */
	background-color: alpha (@theme_base_color, 0.0);

	-adwaita-focus-border-radius: 2;
	-adwaita-focus-fill-color: alpha (@theme_base_color, 0.20);
	-adwaita-focus-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_border_gradient_a),
		to (shade (@button_border_gradient_b, 1.00)));
}

.primary-toolbar.toolbar.button:insensitive {
	border-style: none;
	background-image: none;
	background-color: alpha (@theme_base_color, 0.0);
	-GtkWidget-focus-line-width: 0;
}

.primary-toolbar.toolbar.button:hover {
	border-style: none;
	border-radius: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@button_gradient_a, 0.6)),
		to (alpha (@button_gradient_b, 0.6)));
}

.primary-toolbar.toolbar.button:active {
	border-style: solid;
	border-radius: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_gradient_b, 0.80)),
		color-stop (0.04, shade (@button_gradient_b, 0.70)),
		color-stop (0.05, shade (@button_gradient_b, 0.86)),
		color-stop (0.89, shade (@button_gradient_a, 0.80)),
		color-stop (0.90, shade (@button_gradient_a, 0.94)),
		to (shade (@button_gradient_a, 0.80));
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_border_gradient_b, 1.00)),
		to (shade (@button_border_gradient_a, 1.00)));

	color: @theme_fg_color;
}

.primary-toolbar.toolbar.button:active:prelight {
	border-style: solid;
	border-radius: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_gradient_b, 0.90)),
		color-stop (0.04, shade (@button_gradient_b, 0.80)),
		color-stop (0.05, shade (@button_gradient_b, 0.90)),
		color-stop (0.89, shade (@button_gradient_a, 0.90)),
		color-stop (0.90, shade (@button_gradient_a, 1.10)),
		to (shade (@button_gradient_a, 0.90));
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_border_gradient_b, 1.00)),
		to (shade (@button_border_gradient_a, 1.00)));

	color: @theme_fg_color;
}

.primary-toolbar.toolbar.button:active:insensitive {
	border-style: solid;
	border-radius: 2;
	border-color: @inactive_frame_color;
	-adwaita-border-gradient: none;
}

/* Set width to 0 to disable toolbar separators */
.primary-toolbar.toolbar GtkSeparatorToolItem {
	-GtkWidget-wide-separators: 1;
	-GtkWidget-separator-width: 0;

	border-style: solid;
	border-width: 1;
	border-color: shade (@theme_bg_color, 0.56);
}

/* primary toolbar raised buttons */
.primary-toolbar.toolbar.raised.button,
.primary-toolbar.toolbar.raised.button:insensitive {
	border-radius: 2;
	border-width: 1;
	border-color: @button_border_gradient_a;
	border-style: solid;

	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_gradient_a),
		to (@button_gradient_b));

	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_border_gradient_a, 1.00)),
		to (shade (@button_border_gradient_b, 1.00)));

	-GtkWidget-focus-line-width: 1;
}

.primary-toolbar.toolbar.raised.button:hover {
	border-color: @button_border_gradient_a;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_gradient_a, 1.10)),
		to (shade (@button_gradient_a, 1.10));
	border-width: 1;
	border-style: solid;
}

.primary-toolbar.toolbar.raised.button:hover:active,
.primary-toolbar.toolbar.raised.button:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@toolbar_gradient_a),
		to (@toolbar_gradient_b));
	background-color: @theme_base_color;

	border-color: @highlighted_border;
	border-width: 1;
	border-style: solid;
}

/* progressbars on primary toolbar entries are special */
.primary-toolbar.toolbar.entry.progressbar {
	/* FIXME: need correct colors/gradient */
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@scrolltrough_gradient_a),
		to (@scrolltrough_gradient_b));

	border-width: 0;
	border-radius: 2;
	border-color: shade (@inactive_frame_color, 0.925);
}

/*******************
 * Inline toolbars *
 *******************/

.inline-toolbar.toolbar {
	border-width: 1;
	border-radius: 2;
	border-style: solid;

	background-image: -gtk-gradient (linear,
		left top,
		left bottom,
		from (@toolbar_gradient_a),
		color-stop (0.16, @toolbar_gradient_a),
		color-stop (0.90, @toolbar_gradient_a),
		color-stop (0.98, @toolbar_gradient_b),
		color-stop (0.99, shade (@toolbar_gradient_b, 0.83)),
		to (shade (@toolbar_gradient_b, 0.83)));
}

/*************
 * GtkSwitch *
 *************/

GtkSwitch {
	font: bold condensed 10;
}

GtkSwitch.trough {
	color: @internal_element_color;
	border-radius: 1;
	border-width: 1;
	border-style: solid;
	border-color: shade (@frame_color, 1.00);
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@scrolltrough_gradient_b),
		to (@scrolltrough_gradient_a));
}

GtkSwitch.trough:active {
	color: @theme_base_color;
	-adwaita-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_selected_bg_color, 0.70)),
		to (shade (@theme_selected_bg_color, 0.94)));
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_selected_bg_color, 0.70)),
		to (shade (@theme_selected_bg_color, 0.94)));
}

GtkSwitch.trough:insensitive {
	background-image: none;
	background-color: shade (@theme_bg_color, 0.96);
	border-color: shade (@inactive_frame_color, 1.00);
	-adwaita-border-gradient: none;
}

GtkSwitch.slider {
	border-width: 1;
	border-radius: 1;
	border-color: shade (@frame_color, 1.0);
	border-style: solid;
	padding: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_gradient_a),
		color-stop (0.02, shade (@button_gradient_a, 1.90)),
		color-stop (0.03, @button_gradient_a),
		color-stop (0.85, @button_gradient_b),
		color-stop (0.86, shade (@button_gradient_b, 0.90)),
		to (shade (@button_gradient_b, 1.00)));

	-adwaita-switch-grip-color: shade (@button_gradient_b, 0.90);
}

GtkSwitch.slider:active {
	border-color: shade (@theme_selected_bg_color, 0.60);
}

GtkSwitch.slider:insensitive {
	border-style: none;
	background-image: none;
	background-color: @insensitive_bg_color;
}

GtkStatusbar {
	padding: 5;
	color: @theme_fg_color;
	-GtkStatusbar-shadow-type: none;
}

GtkScrolledWindow.frame {
	border-style: solid;
	border-color: darker (@theme_bg_color);
	border-width: 1;
	border-radius: 0;
}

GtkViewport,
GtkIconView {
	border-radius: 2;
	padding: 0;
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
	background-color: @theme_selected_bg_color;
	border-radius: 2;

	/* FIXME: this probably needs to be better;
	* see https://bugzilla.gnome.org/show_bug.cgi?id=644157
	*/
	-adwaita-focus-border-color: @progressbar_border;
	-adwaita-focus-border-radius: 2;
	-adwaita-focus-border-dashes: 0;
}

.view {
	background-color: @theme_base_color;
	color: @theme_fg_color;
	border-radius: 0;
	border-width: 3;
}

GtkTreeView {
	-GtkTreeView-vertical-separator: 0;
	-GtkTreeView-expander-size: 6;

	-GtkWidget-focus-line-width: 1;
	-adwaita-focus-border-radius: 0;
	-adwaita-focus-border-dashes: 0;
	-adwaita-focus-border-color: @keyboard_focus_border_a;
}

GtkTreeView.separator {
	background-color: darker (@theme_bg_color);
}

/* Treeview header */
column-header {
	padding: 1 2;
}

column-header .button {
	border-width: 0;
	border-radius: 0;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@listview_header_gradient_a,1.00)),
		color-stop (0.96, shade (@listview_header_gradient_b, 1.00)),
		color-stop (0.97, shade (@listview_header_gradient_b, 0.96)),
		to (shade (@listview_header_gradient_b,1.00)));
	padding: 1 2;
}

column-header .button:prelight {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@listview_header_gradient_a,1.10)),
		color-stop (0.96, shade (@listview_header_gradient_b, 1.10)),
		color-stop (0.97, shade (@listview_header_gradient_b, 0.96)),
		to (shade (@listview_header_gradient_b,1.10)));
}

row:hover {
	border-width: 0;
}

row:insensitive {
	border-width: 0;
}

row:selected:focused {
	border-width: 0;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_selected_bg_color, 1.00)),
		color-stop (0.04, shade (@theme_selected_bg_color, 0.80)),
		color-stop (0.05, shade (@theme_selected_bg_color, 1.00)),
		to (shade (@theme_selected_bg_color, 0.90)));
	background-color: @theme_selected_bg_color;
}

row:selected {
	border-width: 0;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_selected_bg_color, 1.00)),
		color-stop (0.04, shade (@theme_selected_bg_color, 0.80)),
		color-stop (0.05, shade (@theme_selected_bg_color, 1.00)),
		to (shade (@theme_selected_bg_color, 0.90)));
}

.cell {
	color: @theme_text_color;
	padding: 2;
	border-width: 0;
}

.cell:selected {
	background-color: @theme_selected_bg_color;
}

.expander {
	color: @internal_element_color;
	border-color: @internal_element_color;

	background-color: @theme_base_color;
}

.expander:active {
	color: @internal_element_color;
	border-color: @internal_element_color;

	background-color: @theme_base_color;
}

.expander:prelight {
	color: @internal_element_color;
	border-color: @internal_element_color;

	background-color: shade (@theme_bg_color, 1.02);
}

.expander row:selected,
.expander row:selected:focused {
	border-color: @theme_selected_bg_color;
	color: shade (@theme_selected_bg_color, 1.30);
	background-color: @theme_selected_bg_color;
}

/* Calendars */
GtkCalendar.view {
	border-radius: 2;
	border-style: solid;
	border-width: 1;
	padding: 2;
}

GtkCalendar.header {
	border-radius: 0;
	background-image: -gtk-gradient (linear,
		left top,
		left bottom,
		from (shade (@theme_bg_color, 1.04)),
		to (shade (@theme_bg_color, 0.89)));
	border-width: 0;
}

GtkCalendar.button {
	background-image: -gtk-gradient (linear,
		left top,
		left bottom,
		from (rgba (0, 0, 0, 0)),
		to (rgba (0, 0, 0, 0)));
}

.highlight,
GtkCalendar.highlight {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
	border-radius: 0;
	padding: 0;
	border-width: 0;
}

.info {
	background-color: @info_bg_color;
	color: @info_fg_color;
}

.warning {
	background-color: @warning_bg_color;
	color: @warning_fg_color;
}

.question {
	background-color: @question_bg_color;
	color: @question_fg_color;
}

.error {
	background-color: @error_bg_color;
	color: @error_fg_color;
}

.dim-label {
	color: mix (@theme_fg_color, @theme_bg_color, 0.50);
}

.sidebar,
.sidebar.view {
	background-color: shade (@sidebar_color, 0.99);
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@sidebar_color,1.00)),
		color-stop (0.98, shade (@sidebar_color, 1.00)),
		color-stop (0.99, shade (@sidebar_color, 1.00)),
		color-stop (1.00, shade (@sidebar_color, 0.86)),
		to (shade (@sidebar_color,1.00)));
}

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
	background-color: @chrome_bg_color;
	-EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
	background-color: @theme_base_color;
	color: @theme_fg_color;
	-TerminalScreen-background-darkness: 0.95;
}

/**********************
 * Fallback Mode Panel
 **********************/

PanelWidget,
PanelApplet,
PanelApplet > GtkMenuBar.menubar,
.gnome-panel-menu-bar,
/* PanelAppletFrame, */
PanelMenuBar.menubar,
Panel,
WnckletFactory,
PanelToplevel {
	/* Warning: Don't add any transparency here. It's really buggy and will make the panel unable to start. */
	/* Warning 2: Don't add any global transition effects in your theme. The panel applets will crash if you combine it with alpha buttons. */
	/* Warning 3: Adding alpha anywhere here may cause random crashes somehow. */ 
	background-color: @os_chrome_bg_color;
	color: @os_chrome_fg_color;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_bg_color, 0.30)),
		to (shade (@theme_bg_color, 0.20));
}

/* Removes the ugly handles. Yes, they're that ugly! :P */
PanelAppletFrame { background-color: alpha (@theme_base_color, 0.0); }

ClockBox,
.gnome-panel-menu-bar {
	font: bold;
}

PanelApplet > GtkMenuBar.menubar.menuitem:prelight,
.gnome-panel-menu-bar.menuitem:prelight {
	background-color: @os_chrome_selected_bg_color;
	color: @os_chrome_selected_fg_color;
	border-color: lighter (@os_chrome_selected_bg_color);
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_bg_color, 0.40)),
		to (shade (@theme_bg_color, 0.30));
}

/* panel buttons (clock, tasklist etc) */
PanelApplet GtkToggleButton {
	/* Putting 'none' on these backgrounds may cause the applets to crash in combination with 'Warning 2' above */
	background-color: @os_chrome_bg_color;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_bg_color, 0.30)),
		to (shade (@theme_bg_color, 0.20));
	border-color: @os_chrome_bg_color;
	border-width: 0;
	border-radius: 0;
	color: @os_chrome_fg_color;
}

/* Adding alpha here is risky and buggy. It may work or not work depending on several combinations. */
PanelApplet GtkToggleButton:active {
	background-color: @os_chrome_selected_bg_color;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (shade (@theme_bg_color, 0.30), 0.20)),
		to (alpha (shade (@theme_bg_color, 0.20), 0.80));
	border-color: lighter (@os_chrome_selected_bg_color);
	border-width: 0;
	color: @os_chrome_selected_fg_color;
}

PanelApplet GtkToggleButton:prelight:active,
PanelApplet GtkToggleButton:prelight {
	background-color: @os_chrome_bg_color;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (shade (@theme_bg_color, 1.20), 0.30)),
		to (alpha (shade (@theme_bg_color, 1.20), 0.20));
	border-color: @os_chrome_bg_color;
	border-width: 0;
	color: @os_chrome_selected_fg_color;
}

NaTrayApplet {
	-NaTrayApplet-icon-padding: 12;
	-NaTrayApplet-icon-size: 16;
}

WnckPager, WnckTasklist {
	background-color: @os_chrome_selected_bg_color;
	background-image: -gtk-gradient (linear,left top, left bottom,from (shade (@theme_bg_color, 0.40)),to (shade (@theme_bg_color, 0.30));
	color: @os_chrome_fg_color;
}

GsmFailWhaleDialog,
GsmFailWhaleDialog * {
	background-color: @os_chrome_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
}
