/***************
 * Progressbar *
 ***************/
/* progress component */
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@progressbar_background_b),
		to (@progressbar_background_a));
	-unico-background-texture: url("progressbar.png");
	border-radius: 4;
	border-style: solid;
	border-width: 1;
	border-color: shade(@progressbar_border,0.9);
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@base_color, 0.5)),
		to (alpha (shade (@button_bg_color, 1.26), 0.0)));
}

.progressbar.vertical,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (@progressbar_background_b),
		to (@progressbar_background_a));

	border-radius: 4;
	border-style: solid;
	border-width: 1;
	border-color: shade(@progressbar_border,0.9);
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, right top,
		from (alpha (@base_color, 0.5)),
		to (alpha (shade (@button_bg_color, 1.26), 0.0)));
}

/* through component */
GtkProgressBar,
.trough row {
	padding: 0;
}

GtkProgressBar.trough,
.trough row,
.trough row:hover {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade(@bg_color,1.02)),
		to (shade(@bg_color,1.20)));

	border-width: 1;
	border-style: solid;
	border-radius: 4;
	border-color: shade (@progressbar_through_border, 0.9);
}

GtkProgressBar.trough.vertical,
.trough.vertical row,
.trough.vertical row:hover {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade(@bg_color,1.05)),
		to (shade(@bg_color,1.20)));

	border-width: 1;
	border-style: solid;
	border-radius: 4;
	border-color: shade (@progressbar_through_border, 0.9);
}

.trough row:selected,
.trough row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (mix (@trough_bg_color_a, @selected_bg_color, 0.25)),
		to (mix (@trough_bg_color_b, @selected_bg_color, 0.25)));
}

.trough.vertical row:selected,
.trough.vertical row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (mix (@trough_bg_color_a, @selected_bg_color, 0.25)),
		to (mix (@trough_bg_color_b, @selected_bg_color, 0.25)));
}

/*************
 * Scrollbar *
 *************/
.scrollbar {
	background-image: none;
	border-style: solid;
	-GtkRange-trough-border: 3;
	-GtkRange-arrow-scaling: 0.0;
	-GtkRange-slider-width: 9;
	-GtkRange-stepper-size: 0;
	-GtkScrollbar-min-slider-length: 50;
	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-under-steppers: 1;
	-unico-inner-stroke-style: none;
}

/* Through */
.scrollbar.trough.vertical {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@trough_bg_color_b, 1.05)),
		to (shade (@trough_bg_color_a,1.3)));
	background-color: shade (@bg_color, 0.882);
	border-radius: 0;
	border-width: 0;
	border-style: none;
}

.scrollbar.trough.horizontal {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@trough_bg_color_b, 1.05)),
		to (shade (@trough_bg_color_a,1.3)));
	background-color: shade (@bg_color, 0.882);
	border-radius: 0;
	border-width: 0;
	border-style: none;
}

/* Sliders and buttons */
.scrollbar.slider.vertical,
.scrollbar.button.vertical {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (@scrollslider_gradient_a),
		to (shade(@scrollslider_gradient_a,0.95)));
	background-color: @base_color;
	border-color: shade(@scrollslider_border,1.1);
	border-radius: 10;
	border-width: 1;
}

.scrollbar.slider.vertical:prelight {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_a, 0.9)));
	background-color: @base_color;
	border-color: shade (@scrollslider_border, 1.05);
}

.scrollbar.slider.vertical:prelight:active {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_b, 0.9)));
	background-color: @base_color;
	border-color: shade (@scrollslider_border, 1.05);
}

.scrollbar.slider.horizontal,
.scrollbar.button.horizontal {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@scrollslider_gradient_a),
		to (shade(@scrollslider_gradient_a,0.95)));
	background-color: @base_color;
	border-color: shade (@scrollslider_border, 1.05);
	border-radius: 10;
	border-width: 1;
}

.scrollbar.slider.horizontal:prelight {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_a, 0.9)));
	background-color: @base_color;
	border-color: @scrollslider_border;
}

.scrollbar.slider.horizontal:prelight:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_b, 0.9)));
	background-color: @base_color;
	border-color: shade (@scrollslider_border, 1.05);
}

.scrollbar.slider:insensitive {
	background-color: @base_color;
}

.scrollbar.trough:insensitive {
	background-color: shade (@bg_color, 0.882);
}

/* GtkScrolledWindow */
GtkScrolledWindow.frame {
    border-top-color: shade (@bg_color, 0.84);
    border-right-color: shade (@bg_color, 0.76);
    border-bottom-color: shade (@bg_color, 0.86);
    border-left-color: shade (@bg_color, 0.76);
    border-radius: 0;
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

/**************
 * Separators *
 **************/
.separator {
    border-color: shade (@bg_color, 0.8);
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.button .separator,
.button.separator {
    border-color: shade (@button_bg_color, 0.84);

    -unico-inner-stroke-color: alpha (shade (@button_bg_color, 1.26), 0.5);
    -unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
    border-color: shade (@bg_color, 0.9);

    -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.button .separator:insensitive,
.button.separator:insensitive {
    border-color: shade (@button_insensitive_bg_color, 0.9);

    -unico-inner-stroke-color: alpha (shade (@button_insensitive_bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
    border-color: shade (@bg_color, 0.84);

    -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.4);
    -unico-inner-stroke-gradient: none;
}

.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    border-color: shade (@dark_bg_color, 0.96);

    -unico-inner-stroke-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

GtkViewport.frame {
	border-width: 0;
	-unico-inner-stroke-width: 0;
}

/***********
 * toolbar *
 ***********/
.toolbar {
	border-style: none;
}

/* primary-toolbar */
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
	-GtkWidget-window-dragging: true;

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@toolbar_gradient_base,0.95)),
		to (shade (@toolbar_gradient_final,0.9)));
	border-color: shade (@toolbar_border, 1.0);
	border-style: solid;
	border-width: 0 0 1 0;
	padding: 2;

	color: @fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@toolbar_border, 0.0)),
		to (alpha (@toolbar_border, 1.0)));
	-unico-inner-stroke-width: 0;
}

.primary-toolbar .toolbar :insensitive,
.primary-toolbar.toolbar :insensitive {
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
}

.primary-toolbar .toolbar GtkComboBox,
.primary-toolbar.toolbar GtkComboBox,
.primary-toolbar .toolbar .button,
.primary-toolbar.toolbar .button {
	border-radius: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_gradient_color_a),
		to (@button_gradient_color_b));

	-unico-focus-outer-stroke-color: @transparent;

	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;

}

.primary-toolbar .toolbar .raised .button,
.primary-toolbar.toolbar .raised .button,
.primary-toolbar .toolbar .raised.button,
.primary-toolbar.toolbar .raised.button,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover,
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active,
.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
	
}

.primary-toolbar GtkComboBox.combobox-entry .button {
	-unico-inner-stroke-width: 1;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 1.2), 0.25)),
		to (alpha (shade (@bg_color, 1.2), 0.35)));
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar .toolbar .raised .button,
.primary-toolbar.toolbar .raised .button,
.primary-toolbar .toolbar .raised.button,
.primary-toolbar.toolbar .raised.button,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_hover_gradient_color_a),
		to (@button_hover_gradient_color_b));

	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@border_color_a, 0.90)),
		to (shade (@border_color_b, 0.90)));
}

.primary-toolbar .toolbar .raised .button:hover,
.primary-toolbar.toolbar .raised .button:hover,
.primary-toolbar .toolbar .raised.button:hover,
.primary-toolbar.toolbar .raised.button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.2)),
		to (shade (@button_bg_color, 1.04)));
}

.primary-toolbar .toolbar raised.button:active,
.primary-toolbar.toolbar raised.button:active,
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.85)));
	color: @fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.6)),
		to (shade (@bg_color, 0.6)));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_bg_color, 0.0)),
		to (shade (@button_bg_color, 1.02)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@bg_color, 0.8);
	-unico-inner-stroke-width: 1 1 0 1;
	-unico-outer-stroke-width: 1;
	-unico-focus-outer-stroke-color: @transparent;

}

.primary-toolbar .toolbar .button:active:hover,
.primary-toolbar.toolbar .button:active:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.9)));
	color: @fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.6)),
		to (shade (@bg_color, 0.6)));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_bg_color, 0.0)),
		to (shade (@button_bg_color, 1.02)));
	-unico-inner-stroke-color: shade (@bg_color, 0.85);
	-unico-inner-stroke-width: 1 1 0 1;
	-unico-outer-stroke-width: 1;
	-unico-focus-outer-stroke-color: @transparent;
}

.primary-toolbar .toolbar .button:active:insensitive,
.primary-toolbar.toolbar .button:active:insensitive,
.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.04)),
		to (shade (@button_insensitive_bg_color, 0.96)));

	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.8)),
		to (shade (@button_insensitive_bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.08)),
		to (shade (@button_insensitive_bg_color, 1.0)));
}

.primary-toolbar .toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_insensitive_bg_color, 0.00)),
		to (alpha (@button_insensitive_bg_color, 0.00)));

	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	border-width: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
	-unico-border-gradient: none;
	-unico-inner-stroke-gradient: none;
}

.primary-toolbar .toolbar .button:active:insensitive,
.primary-toolbar.toolbar .button:active:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.0)),
		to (shade (@button_insensitive_bg_color, 0.97)));

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.95)),
		to (shade (@button_insensitive_bg_color, 0.98)));
	-unico-inner-stroke-width: 1 1 0 1;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_bg_color, 0.0)),
		to (shade (@button_bg_color, 1.02)));
	-unico-outer-stroke-width: 1;
	border-width: 1;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.7)),
		to (shade (@button_insensitive_bg_color, 0.8)));
}

.primary-toolbar .toolbar .entry,
.primary-toolbar.toolbar .entry,
.primary-toolbar .toolbar .entry:active,
.primary-toolbar.toolbar .entry:active,
.primary-toolbar .toolbar .entry:focused,
.primary-toolbar.toolbar .entry:focused {
	border-radius: 2;

	color: @text_color;

	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.85), 0.2)),
		to (alpha (shade (@bg_color, 0.85), 0.2)));
	-unico-outer-stroke-width: 0;
}

.primary-toolbar .toolbar .entry,
.primary-toolbar.toolbar .entry {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.16)),
		to (alpha (shade (@bg_color, 0.05), 0.8)));
}

.primary-toolbar .toolbar .entry:insensitive,
.primary-toolbar.toolbar .entry:insensitive {
	-unico-outer-stroke-width: 1;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 1.2), 0.18)),
		to (alpha (shade (@bg_color, 1.4), 0.5)));
}

.primary-toolbar .toolbar .entry:focused,
.primary-toolbar.toolbar .entry:focused {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.75)),
		to (shade (@selected_bg_color, 0.8)));
	-unico-inner-stroke-color: alpha (@selected_bg_color, 0.2);
	-unico-inner-stroke-gradient: none;
}

.primary-toolbar .toolbar GtkSeparatorToolItem,
.primary-toolbar.toolbar GtkSeparatorToolItem,
.primary-toolbar .toolbar .separator,
.primary-toolbar.toolbar .separator,
.primary-toolbar .toolbar .separator:insensitive,
.primary-toolbar.toolbar .separator:insensitive {
	border-color: alpha (shade (@bg_color, 0.94), 0.0);
	border-style: solid;

	-unico-border-gradient: none;
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.5), 0.0);
	-unico-inner-stroke-gradient: none;
}

/* inline-toolbar */
.inline-toolbar.toolbar {
	-GtkToolbar-button-relief: normal;

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.93)),
		to (shade (@base_color, 0.93)));
	border-radius: 0;
	border-style: solid;
	border-width: 1;
	padding: 3 4 4 4;
}

.inline-toolbar.toolbar:nth-child(last) {
	border-bottom-color: shade (@bg_color, 0.76);
	border-color: shade (@bg_color, 0.8);
	border-radius: 0;
	border-width: 0 1 1 1;
}

.inline-toolbar.toolbar .button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.12)),
		to (shade (@bg_color, 0.88)));
	border-radius: 0;
	border-style: solid;
	border-width: 1 0 1 1;
	padding: 1;

	icon-shadow: 0 1 shade (@bg_color, 1.16);

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.16)),
		to (shade (@bg_color, 0.98)));
	-unico-outer-stroke-width: 1 0 1 0;
}

.inline-toolbar.toolbar .button *:active,
.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	-unico-outer-stroke-width: 1 0 1 0;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.02)),
		to (alpha (shade (@bg_color, 0.05), 0.06)));
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.02)),
		to (shade (@bg_color, 0.98)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.16)),
		to (shade (@bg_color, 1.0)));
}

.inline-toolbar.toolbar .button:nth-child(first),
.inline-toolbar.toolbar GtkToolButton:nth-child(first) .button {
	border-radius: 2 0 0 2;

	-unico-outer-stroke-width: 1 0 1 1;
}

.inline-toolbar.toolbar .button:nth-child(last),
.inline-toolbar.toolbar GtkToolButton:nth-child(last) .button {
	border-radius: 0 2 2 0;
	border-width: 1;

	-unico-outer-stroke-width: 1 1 1 0;
}
