/***************
 * Progressbar *
 ***************/
/* progress component */
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@progressbar_background_b),
		to (@progressbar_background_a));
	-unico-background-texture: url("progressbar.png");
	border-radius: 4;
	border-style: solid;
	border-width: 1;
	border-color: shade(@progressbar_border,0.9);
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@theme_base_color, 0.5)),
		to (alpha (shade (@button_bg_color, 1.26), 0.0)));
}

.progressbar.vertical,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (@progressbar_background_b),
		to (@progressbar_background_a));

	border-radius: 4;
	border-style: solid;
	border-width: 1;
	border-color: shade(@progressbar_border,0.9);
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, right top,
		from (alpha (@theme_base_color, 0.5)),
		to (alpha (shade (@button_bg_color, 1.26), 0.0)));
}

/* through component */
GtkProgressBar,
.trough row {
	padding: 0;
}

GtkProgressBar.trough,
.trough row,
.trough row:hover {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade(@bg_color,1.02)),
		to (shade(@bg_color,1.20)));

	border-width: 1;
	border-style: solid;
	border-radius: 4;
	border-color: shade (@progressbar_through_border, 0.9);
}

GtkProgressBar.trough.vertical,
.trough.vertical row,
.trough.vertical row:hover {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade(@bg_color,1.05)),
		to (shade(@bg_color,1.20)));

	border-width: 1;
	border-style: solid;
	border-radius: 4;
	border-color: shade (@progressbar_through_border, 0.9);
}

.trough row:selected,
.trough row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (mix (@trough_bg_color_a, @theme_selected_bg_color, 0.25)),
		to (mix (@trough_bg_color_b, @theme_selected_bg_color, 0.25)));
}

.trough.vertical row:selected,
.trough.vertical row:selected:focused {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (mix (@trough_bg_color_a, @theme_selected_bg_color, 0.25)),
		to (mix (@trough_bg_color_b, @theme_selected_bg_color, 0.25)));
}

/*************
 * Scrollbar *
 *************/
.scrollbar {
	background-image: none;
	border-style: solid;
	-GtkRange-trough-border: 3;
	-GtkRange-arrow-scaling: 0.0;
	-GtkRange-slider-width: 9;
	-GtkRange-stepper-size: 0;
	-GtkScrollbar-min-slider-length: 50;
	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-under-steppers: 1;
	-unico-inner-stroke-style: none;
}

/* Through */
.scrollbar.trough.vertical {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@trough_bg_color_b, 1.05)),
		to (shade (@trough_bg_color_a,1.3)));
	background-color: shade (@theme_bg_color, 0.882);
	border-radius: 0;
	border-width: 0;
	border-style: none;
}

.scrollbar.trough.horizontal {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@trough_bg_color_b, 1.05)),
		to (shade (@trough_bg_color_a,1.3)));
	background-color: shade (@theme_bg_color, 0.882);
	border-radius: 0;
	border-width: 0;
	border-style: none;
}

/* Sliders and buttons */
.scrollbar.slider.vertical,
.scrollbar.button.vertical {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (@scrollslider_gradient_a),
		to (shade(@scrollslider_gradient_a,0.95)));
	background-color: @theme_base_color;
	border-color: shade(@scrollslider_border,1.1);
	border-radius: 10;
	border-width: 1;
}

.scrollbar.slider.vertical:prelight {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_a, 0.9)));
	background-color: @theme_base_color;
	border-color: shade (@scrollslider_border, 1.05);
}

.scrollbar.slider.vertical:prelight:active {
	background-image: -gtk-gradient (linear,
		left top, right top,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_b, 0.9)));
	background-color: @theme_base_color;
	border-color: shade (@scrollslider_border, 1.05);
}

.scrollbar.slider.horizontal,
.scrollbar.button.horizontal {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@scrollslider_gradient_a),
		to (shade(@scrollslider_gradient_a,0.95)));
	background-color: @theme_base_color;
	border-color: shade (@scrollslider_border, 1.05);
	border-radius: 10;
	border-width: 1;
}

.scrollbar.slider.horizontal:prelight {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_a, 0.9)));
	background-color: @theme_base_color;
	border-color: @scrollslider_border;
}

.scrollbar.slider.horizontal:prelight:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@scrollslider_gradient_a, 0.94)),
		to (shade (@scrollslider_gradient_b, 0.9)));
	background-color: @theme_base_color;
	border-color: shade (@scrollslider_border, 1.05);
}

.scrollbar.slider:insensitive {
	background-color: @theme_base_color;
}

.scrollbar.trough:insensitive {
	background-color: shade (@theme_bg_color, 0.882);
}

/* GtkScrolledWindow */
GtkScrolledWindow.frame {
    border-top-color: shade (@bg_color, 0.84);
    border-right-color: shade (@bg_color, 0.76);
    border-bottom-color: shade (@bg_color, 0.86);
    border-left-color: shade (@bg_color, 0.76);
    border-radius: 0;
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

/**************
 * Separators *
 **************/
.separator {
    border-color: shade (@bg_color, 0.8);
    border-style: solid;

    -unico-border-gradient: none;
    -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.button .separator,
.button.separator {
    border-color: shade (@button_bg_color, 0.84);

    -unico-inner-stroke-color: alpha (shade (@button_bg_color, 1.26), 0.5);
    -unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
    border-color: shade (@bg_color, 0.9);

    -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.button .separator:insensitive,
.button.separator:insensitive {
    border-color: shade (@button_insensitive_bg_color, 0.9);

    -unico-inner-stroke-color: alpha (shade (@button_insensitive_bg_color, 1.26), 0.6);
    -unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
    border-color: shade (@bg_color, 0.84);

    -unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.4);
    -unico-inner-stroke-gradient: none;
}

.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    border-color: shade (@dark_bg_color, 0.96);

    -unico-inner-stroke-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

GtkViewport.frame {
	border-width: 0;
	-unico-inner-stroke-width: 0;
}

/************
 * Toolbars *
 ************/
.primary-toolbar.toolbar {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@toolbar_gradient_base,0.95)),
		to (shade (@toolbar_gradient_final,0.9)));
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@toolbar_border, 0.0)),
		to (alpha (@toolbar_border, 1.0)));
	border-style: none;
	border-width: 0;
	-GtkWidget-window-dragging: true;
	padding: 2;	
}

.toolbar {
	border-style: solid;
	border-color: shade (@theme_bg_color,0.9);
	background-color: shade (@bg_color,0.86);
	border-width: 0;
	border-radius: 0;
	padding: 1;
	-unico-border-gradient: -gtk-gradient (linear,
                left top, left bottom,
                from (alpha (#000, 0.30)),
                color-stop (0.15, alpha (#000, 0.10)),
                color-stop (0.85, alpha (#000, 0.10)),
                to (alpha (#fff, 0.50)));
}

.toolbar:insensitive {
	color: shade (@fg_color, 0.7);
	background-image: none;
	background-color: shade (@theme_bg_color, 0.97);

	border-style: solid;
	border-width: 1;
	border-color: shade (@theme_bg_color, 0.91);
}

/* Toolbar buttons */

.primary-toolbar.toolbar.button {
	padding: 0 2;
	border-style: none;
	border-width: 1;
	border-radius: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@button_gradient_color_a, 0.0)),
		to (alpha (@button_gradient_color_b, 0.0)));
	-unico-inner-stroke-style: none;
	-unico-outer-stroke-style: none;
}

.primary-toolbar.toolbar.button:insensitive {
	border-style: none;
	border-width: 0;
	color: shade (@insensitive_fg_color, 0.5);
	background-image: none;
	background-color: alpha (@theme_base_color, 0.0);
	-GtkWidget-focus-line-width: 0;
}

.primary-toolbar.toolbar.button:hover {
	border-style: none;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@button_hover_gradient_color_a, 0.60)),
		to (alpha (@button_hover_gradient_color_b, 0.60)));
	border-radius: 2;
	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_border_color_a, 1.10)),
		to (shade (@theme_border_color_b, 1.10)));
}

.primary-toolbar.toolbar.button:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_active_gradient_color_a, 1.00)),
		to (shade (@button_active_gradient_color_b, 1.00)));
	border-color: @highlighted_border;
	border-style: solid;
	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_border_color_b, 1.00)),
		to (shade (@theme_border_color_a, 1.00)));
	color: @theme_fg_color;
}

.primary-toolbar.toolbar.button:active:hover {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_active_gradient_color_a, 1.10)),
		to (shade (@button_active_gradient_color_b, 1.10)));
	border-color: @highlighted_border;
	border-style: solid;
	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_border_color_b, 1.10)),
		to (shade (@theme_border_color_a, 1.10)));
	color: @theme_fg_color;
}

.primary-toolbar.toolbar.button:active:insensitive {
	border-color: @insensitive_border_color;
	-unico-border-gradient: none;
	background-image: none;
	-unico-inner-stroke-style: none;
}

.primary-toolbar.toolbar.raised.button {
	border-width: 1;
	border-style: solid;

	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_gradient_color_a),
		to (@button_gradient_color_b));

	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_border_color_a, 1.00)),
		to (shade (@theme_border_color_b, 1.00)));
}

.primary-toolbar.toolbar.raised.button:insensitive {
	background-image: none;
}

.primary-toolbar.toolbar.raised.button:hover {
	border-color: @button_border;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_hover_gradient_color_a),
		to (@button_hover_gradient_color_b));

	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_border_color_a, 1.10)),
		to (shade (@theme_border_color_b, 1.10)));
	border-width: 1;
	border-style: solid;
}

.primary-toolbar.toolbar.raised.button:hover:active,
.primary-toolbar.toolbar.raised.button:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_active_gradient_color_a),
		to (alpha (@button_active_gradient_color_b, 0.13)));
	background-color: @theme_base_color;

	border-color: @highlighted_border;
	border-width: 1;
	border-style: solid;
}

.primary-toolbar.toolbar.raised.button:insensitive:active {
	border-style: solid;
	border-width: 1;
	background-image: none;
}
