/***********
 * Buttons *
 ***********/

/* shadow */
.button,
.combobox-entry,
.check:active,
.frame,
.notebook .button,
.notebook,
.radio:active {
    -unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (@bg_color, 0.00)),
                                                 to (alpha (shade (@bg_color, 1.25), 0.5)));
    -unico-outer-stroke-width: 1;
}


GtkComboBox.combobox-entry .button:insensitive,
.notebook .button:insensitive,
.button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.04)),
                                     to (shade (@bg_color, 0.96)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.8)),
                                           to (shade (@bg_color, 0.8)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@bg_color, 1.1)),
                                                 to (shade (@bg_color, 1.0)));
}

GtkScale.slider,
.button {
	background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.1)),
                                     to (shade (@bg_color, 0.9)));
	border-radius: 6;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.85)),
                                           to (shade (@bg_color, 0.7)));
}

GtkScale.slider:hover,
.button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.9)),
                                     to (shade (@bg_color, 0.8)));
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.7)),
                                           to (shade (@bg_color, 0.6)));
}

.button {
	border-radius: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_gradient_color_a),
		to (@button_gradient_color_b));
	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade(@border_color_a,1.4)),
		to (shade(@border_color_b,1.1)));

	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.3);
}

.button:hover {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_hover_gradient_color_a),
		to (@button_hover_gradient_color_b));
}

.button:active,
.button:hover:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@button_active_gradient_color_b, 1.00)),
		to (shade (@button_active_gradient_color_a, 1.00)));
	-unico-glow-color: shade(@bg_color,0.9);
	-unico-glow-radius: 0;
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@fg_color, 0.2)),
		to (alpha (shade (@button_bg_color, 1.26), 0.0)));
}

.button:insensitive {
	background-image: none;
	background-color: shade (@bg_color, 0.97);

	border-style: solid;
	border-width: 1;
	border-color: shade (@bg_color, 0.91);
/*	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.04)),
		to (shade (@button_insensitive_bg_color, 0.96)));
*/
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.8)),
		to (shade (@button_insensitive_bg_color, 0.8)));
}

.button:insensitive:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.97)),
		to (shade (@button_insensitive_bg_color, 1.0)));

	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-color: alpha (shade (@button_insensitive_bg_color, 0.9), 0.2);
}

GtkComboBox.combobox-entry .button,
.button:active,
.button:insensitive,
.check,
.entry,
.radio {
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@bg_color, 0.85), 0.2)),
                                                 to (alpha (shade (@bg_color, 1.25), 0.6)));
	-unico-outer-stroke-width: 1;
}

/******************
 * combobox entry *
 ******************/
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focused,
GtkComboBox.combobox-entry .entry:insensitive {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 1 0 1 1;

    -unico-outer-stroke-width: 1 0 1 1;
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 1 1 1 1;

    -unico-outer-stroke-width: 1 1 1 0;
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
    border-top-color: shade (@bg_color, 0.64);
    border-right-color: shade (@bg_color, 0.8);
    border-bottom-color: shade (@bg_color, 0.86);
    border-left-color: shade (@bg_color, 0.76);
}

/* Cell */

.cell {
	border-radius: 0;
	border-width: 0;
}

.cell:selected {
}

/* Row */
row:hover {
	background-color: shade (@selected_bg_color,1.35);
}

row:insensitive {
}

row:selected:focused {
}

row:selected {
	background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 1.06)),
                                     to (shade (@selected_bg_color, 0.94)));
	border-top-color: shade (@selected_bg_color, 0.88);
	border-style: solid;
	border-width: 1 0 0 0;
}

/****************
 * Checkbuttons *
 ****************/
.check,
.check row,
.radio,
.radio row {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.96)),
		color-stop (0.10, shade (@base_color, 0.98)),
		to (@base_color));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.68)),
		to (shade (@bg_color, 0.68)));
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-color: alpha (shade (@base_color, 0.1), 0.02);
	border-width: 1;
	border-style: solid;
}

.check:hover,
.check row:hover,
.radio:hover,
.radio row:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.96)),
		color-stop (0.10, shade (@base_color, 0.98)),
		to (@base_color));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.68)),
		to (shade (@bg_color, 0.68)));
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-color: alpha (shade (@base_color, 0.1), 0.02);
	border-width: 1;
	border-style: solid;
}

.check,
.check row {
	border-radius: 2;
}

.radio,
.radio row {
	border-radius: 10;
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active,
.notebook .check:active,
.notebook .radio:active,
.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.1)),
		to (shade (@selected_bg_color, 0.9)));

	-unico-bullet-color: @text_color; /* shade (@selected_fg_color, 1.0); */
	-unico-bullet-outline-color: shade (@selected_bg_color, 1.2);
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.7)),
		to (shade (@selected_bg_color, 0.7)));
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-color: alpha (shade (@selected_bg_color, 1.56), 0.4);
	-unico-outer-stroke-style: custom;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.02)),
		to (alpha (shade (@bg_color, 0.05), 0.08)));
	border-width: 1;
	border-style: solid;
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover,
.notebook .check:active:hover,
.notebook .radio:active:hover,
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focused:active:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.1)),
		to (shade (@selected_bg_color, 0.9)));

	-unico-bullet-color: shade (@selected_fg_color, 1.0);
	-unico-bullet-outline-color: shade (@selected_bg_color, 0.6);
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.7)),
		to (shade (@selected_bg_color, 0.7)));
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-color: alpha (shade (@selected_bg_color, 1.56), 0.4);
	-unico-outer-stroke-style: custom;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.02)),
		to (alpha (shade (@bg_color, 0.05), 0.08)));
	border-width: 1;
	border-style: solid;
}

.check:insensitive,
.radio:insensitive {
	background-image: none;
	background-color: shade (@bg_color, 0.96);
	border-width: 1;
	border-style: solid;
}

.check:insensitive:active,
.radio:insensitive:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.96)),
		to (shade (@bg_color, 0.9)));

	-unico-bullet-color: shade (@bg_color, 0.6);
	-unico-bullet-outline-color: shade (@bg_color, 1.0);
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.8)),
		to (shade (@bg_color, 0.7)));
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.2);
	border-width: 1;
	border-style: solid;
}

/************
 * Columns *
 ************/

column-header .button,
column-header .button:active,
.notebook column-header .button,
.notebook column-header .button:active {
    border-radius: 0;
    border-width: 0 1 1 0;

    -unico-focus-border-radius: 0;
    -unico-focus-border-color: @transparent;
    -unico-focus-fill-color: alpha (@selected_bg_color, 0.2);
    -unico-focus-outer-stroke-color: @transparent;
    -unico-glow-radius: 0;
    -unico-outer-stroke-width: 0;
}

column-header .button,
.notebook column-header .button {
    background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@listview_header_gradient_a,0.98)),
		to (shade (@listview_header_gradient_b,1.35)));

    text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.4);

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.8)),
                                           to (shade (@bg_color, 0.76)));
    -unico-glow-color: shade (@bg_color, 1.02);
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@bg_color, 1.16)),
                                                 to (shade (@bg_color, 0.99)));
}

column-header .button:hover,
.notebook column-header .button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.13)),
                                     to (shade (@bg_color, 0.97)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.84)),
                                           to (shade (@bg_color, 0.75)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@bg_color, 1.21)),
                                                 to (shade (@bg_color, 1.04)));
}

column-header:nth-child(last) .button {
    border-width: 0 1 1 0;
}

/************
 * Treeviews *
 ************/

GtkTreeView .entry {
    background-image: none;
    border-radius: 0;

    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 1;
}

GtkTreeView row:nth-child(even),
GtkTreeView row:nth-child(even):hover {
	background-color: shade (@base_color, 0.95);
}

GtkTreeView row:nth-child(odd),
GtkTreeView row:nth-child(odd):hover {
	background-color: shade (@base_color, 0.86);
}

/************
 * GtkScale *
 ************/
GtkScale {
	-GtkScale-slider-length: 13;
	-GtkRange-slider-width: 13;
	-GtkRange-trough-border: 1;
	background-color: @dark_bg_color;
	border-radius: 12;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.8)),
		to (shade (@bg_color, 0.8)));
}

GtkScale.progressbar {
	background-color: @dark_bg_color;
}

GtkScale.trough {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.92)),
		to (shade (@bg_color, 0.96)));
}

/***************
 * Spinbuttons *
 ***************/
GtkSpinButton.button,
GtkSpinButton.button:insensitive,
GtkSpinButton.button:prelight,
GtkSpinButton.button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.1)),
                                     to (shade (@bg_color, 0.9)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.65)),
                                           to (shade (@bg_color, 0.7)));
}

/************
 * Switches *
 ************/
GtkSwitch {
	border-radius: 2;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (@button_gradient_color_a),
		to (@button_gradient_color_b));

	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (@border_color_a),
		to (@border_color_b));

	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@base_color, 0.9)),
		to (alpha (shade (@button_bg_color, 1.26), 0.0)));
}

GtkSwitch.trough {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@progressbar_through_a, 1.0)),
		to (shade (@progressbar_through_b, 1.0)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@border_color_b, 1.00)),
		to (shade (@border_color_a, 1.00)));
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (@fg_color, 0.2)),
		to (alpha (shade (@button_bg_color, 1.26), 0.0)));
}

GtkSwitch.trough:active {
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@selected_bg_color, 0.9)),
		to (shade (@selected_bg_color, 1.0)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@border_color_b, 1.00)),
		to (shade (@border_color_a, 1.00)));
	-unico-inner-stroke-style: custom;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (alpha (shade (@selected_bg_color, 0.6),0.2)),
		to (alpha (shade (@selected_bg_color, 1.26), 0.0)));
	color: @base_color;
}

/*******************
 * Notebook & Tabs *
 *******************/
.notebook {
	padding: 2;
	border-radius: 4;
	background-color: shade (@bg_color, 1.1);
}

.notebook tab {
	border-radius: 4;
	padding: 2 3 0;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.87)),
		to (shade (@bg_color, 0.8)));
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.75)),
                                           to (shade (@bg_color, 0.7)));
	-unico-inner-stroke-color: alpha (shade (@bg_color, 0.8), 0.3);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1;
}

.notebook tab:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.05)),
		to (shade (@bg_color, 1.1)));
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.7)),
                                           to (shade (@bg_color, 0.66)));
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.3);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1;
}
