/***********
 * Borders *
 ***********/
/* border and inner stroke */
.button,
.frame,
.notebook {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.76)),
                                           to (shade (@bg_color, 0.7)));
}

.button:insensitive,
.frame:insensitive,
.notebook:insensitive {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.8)),
		to (shade (@theme_bg_color, 0.8)));
	-unico-outer-stroke-style: custom;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@theme_bg_color, 0.9), 0.6)),
		to (alpha (shade (@theme_bg_color, 1.1), 0.7)));
}

/* inset */
.button:active,
.button:insensitive,
.check,
.entry,
.radio {
	-unico-outer-stroke-style: custom;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@theme_bg_color, 0.9), 0.6)),
		to (alpha (shade (@theme_bg_color, 1.05), 0.6)));
}

/* shadow */
.button,
.primary-toolbar.toolbar.raised.button,
.check:active,
.frame,
.notebook .button,
.notebook,
.radio:active {
	-unico-outer-stroke-style: custom;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@theme_bg_color, 0.05), 0.05)),
		to (alpha (shade (@theme_bg_color, 0.05), 0.09)));
}

/* frame */
.frame {
	border-radius: 3;
	-unico-outer-stroke-width: 0;
}

/****************
 * Text Entries *
 ****************/
.entry,
.toolbar.entry {
	background-color: @theme_base_color;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_base_color, 0.82)),
		color-stop (0.12, shade (@theme_base_color, 0.98)),
		color-stop (0.16, shade (@theme_base_color, 1.0)),
		to (@theme_base_color));
	border-radius: 2;
	border-width: 1;
	border-style: solid;
	-unico-border-gradient: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@theme_border_color_b, 1.00)),
		to (shade (@theme_border_color_a, 1.00)));
	padding: 2;
}

.entry:focused {
	border-color: @theme_selected_bg_color;
	-unico-border-gradient: none;
}

.entry:insensitive {
    background-color: shade (@bg_color, 1.06);
    background-image: none;

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@bg_color, 0.05), 0.04)),
                                                 to (alpha (shade (@bg_color, 0.05), 0.02)));
}

.entry.progressbar {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
	border-width: 1;
	border-radius: 1;
	border-color: @progressbar_border;
}
