/* default color scheme */
@define-color bg_color #cecece;
@define-color fg_color #3c3c3c;
@define-color base_color #fcfcfc;
@define-color text_color #000;
@define-color selected_bg_color #398ee7;
@define-color selected_fg_color #fff;
@define-color tooltip_bg_color #000;
@define-color tooltip_fg_color #e1e1e1;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb(80, 80, 80);
@define-color info_bg_color rgb(250, 250, 130);
@define-color warning_fg_color rgb(255, 255, 255);
@define-color warning_bg_color rgb(255, 150, 80);
@define-color question_fg_color rgb(80, 80, 80);
@define-color question_bg_color rgb(150, 180, 230);
@define-color error_fg_color rgb(255, 255, 255);
@define-color error_bg_color rgb(200, 70, 50);
@define-color link_color #2c82dd;
@define-color success_color #4e9a06;
@define-color error_color #cc0000;

/* window manager colors */
@define-color wm_bg @theme_bg_color;
@define-color wm_title_focused shade(@theme_fg_color, 1.2);
@define-color wm_title_unfocused shade(@theme_fg_color, 2.0);
@define-color wm_border_focused shade(@theme_bg_color, 0.7);
@define-color wm_border_unfocused shade(@theme_bg_color, 0.8);

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gnome-applications.css");
@import url("apps/granite-widgets.css");
@import url("apps/unity.css");
@import url("apps/unity-greeter.css");
