$variant: 'dark';

@import 'colors';
@import 'drawing';
@import 'common';
@import 'colors-public';
@import 'gnome-apps';
@import 'lightdm-gtk-greeter';
@import 'others';
@import 'unity';
@import 'xfce';
@import 'libhandy';