## Some additional thunar-specific theming

style "sidepane"
{
	base[NORMAL]	= shade (1.55,@selected_bg_color)
}

widget_class "ThunarWindow.GtkTable.GtkHPaned.ThunarShortcutsPane*" style "sidepane"
widget_class "ThunarWindow.GtkTable.GtkHPaned.ThunarTreePane*" style "sidepane"