## Some additional thunar-specific theming

style "sidepane"
{
	base[NORMAL]	= shade (0.92,@base_color)
	base[INSENSITIVE]	= shade (1.03,@selected_bg_color)
	bg[NORMAL]	= shade (0.92,@base_color)
	bg[PRELIGHT]	= shade (1.5,@selected_bg_color)
	engine "murrine"
	{
		gradient_shades	= {1.1,1.1,1.1,1.1}
	}
}

widget_class "*ThunarShortcutsView*" style "sidepane"
widget_class "*ThunarTreeView*" style "sidepane"
widget_class "*GtkFileChooserWidget.GtkFileChooserDefault.GtkVBox.GtkHPaned.GtkVBox.GtkScrolledWindow.GtkTreeView*"	style "sidepane"
widget_class "*.<GtkTreeView>.<GtkButton>" style "murrine-treeview-header"
