/* Fallback Mode Panel */
PanelToplevel,
PanelWidget,
PanelAppletFrame,
PanelApplet,
PanelSeparator {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.2)),
                                     to (shade (@theme_bg_color, 0.85)));

    border-width: 0;

    color: @theme_fg_color;
}

PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    -PanelMenuBar-icon-visible: true;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.2)),
                                     to (shade (@theme_bg_color, 0.85)));

    border-width: 0;
}

PanelApplet .button {
    -GtkButton-inner-border: 1;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.2)),
                                     to (shade (@theme_bg_color, 0.85)));

    border-color: shade (@theme_bg_color, 0.8);
    border-radius: 0;
    border-width: 0 1px 0 1px;
}

PanelApplet .button:active,
PanelApplet .button:prelight:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 0.85)),
                                     to (shade (@button_bg_color, 1.12)));
}

PanelApplet .button:prelight {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.12)),
                                     to (shade (@button_bg_color, 0.97)));
}
