/***********************
 * fallback mode panel *
 ***********************/
PanelWidget,
PanelApplet,
PanelToplevel {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    padding: 0;
    color: @theme_fg_color;
}

PanelApplet {
    border-width: 0;
}

PanelSeparator {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    border-width: 0;
    color: @theme_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    -PanelMenuBar-icon-visible: true;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));
}

PanelAppletFrame { 
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    background-color: @theme_bg_color;
    border-width: 0;
}

PanelApplet .button {
    -GtkButton-inner-border: 2;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.5)),
                                     to (shade(@theme_bg_color, 1.05)));

    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
    border-width: 0 1px 0 1px;
    color: @theme_fg_color;
    text-shadow: none;

    box-shadow: none;
}

PanelApplet .button:prelight:active,
PanelApplet .button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.85)),
                                     to (shade(@theme_bg_color, 1.0))); 

    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
    border-width: 0 1px 0 1px;
}

PanelApplet .button:prelight {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.7)),
                                     to (shade(@theme_bg_color, 1.25)));

    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
    border-width: 0 1px 0 1px;
}

ClockBox {
    text-shadow: 0 -1 shade(@theme_bg_color, 0.6);
}

WnckPager, WnckTasklist {
    background-color: @theme_bg_color;
}

/************
 * nautilus *
 ************/
NautilusWindow * {
    -GtkPaned-handle-size: 1;
}

.nautilus-canvas-item {
    border-radius: 3px;
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    color: #ffffff;
    text-shadow: 1 1 #000000;
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-color: alpha(@theme_bg_color, 0.8);
    background-image: none;
    color: @theme_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    background-color: alpha(@theme_selected_bg_color, 0.8);
    background-image: none;
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

/* browser window */
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@info_bg_color, 1.1)),
                                     to (shade(@info_bg_color, 1.0)));

    border-color: shade(@info_bg_color, 0.7);
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.nautilus-cluebar-label {
    font: bold;
    color: @info_fg_color;
}

NautilusLocationEntry.entry {
    padding-left: 3px;
    padding-right: 3px;
}

NautilusQueryEditor .button,
NautilusQueryEditor .button:focus,
NautilusQueryEditor .button:active,
NautilusQueryEditor .button:active:focus,
NautilusSearchBar .entry,
NautilusSearchBar .entry:focus {
    border-color: darker(@info_bg_color);
    border-style: solid;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

/* inactive pane */
.nautilus-inactive-pane .view {
    background-color: shade(@theme_base_color, 0.9);
}

/* pane separator */
NautilusWindow .pane-separator {
    background-color: shade(@theme_bg_color, 0.8);
}

/******************
 * gnome terminal *
 ******************/
TerminalScreen {
    -TerminalScreen-background-darkness: 0.9;

    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

TerminalWindow GtkNotebook.notebook {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

/***********************
 * gnome control center *
 ***********************/
CcShellItemView.view {
    background-color: @theme_bg_color;
}
