/* gnome-terminal */
TerminalScreen {
    background-color: #000;
    color: #eee;

    -TerminalScreen-background-darkness: 0.9;
}

TerminalWindow GtkNotebook.notebook {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
