#login_window,
#login_notebook {
    background-color: shade (@lightdm_bg_color, 0.9);

    border-width: 0px;
    border-style: solid;
    border-color: @dark_shadow;
    box-shadow: inset 1px 0px alpha(@light_shadow,0.2),
		inset -1px 0px alpha(@light_shadow,0.2),
		inset 0px 1px alpha(@light_shadow,0.2),
                inset 0px -1px alpha(@light_shadow,0.2);
    border-radius: 10px;
}

#login_notebook {
    border-radius: 0px;
}

#login_window * {
    color: @lightdm_fg_color;
}

#prompt_entry {
    color: @lightdm_bg_color;
}

#panel_window,
#panel_window > #menubar {
    background-color: @lightdm_bg_color;
    background-image: none;
    color: @lightdm_fg_color;
    /*border-bottom-color: alpha(@light_shadow,0.2);*/
    text-shadow: 0px 1px alpha(@dark_shadow, 0.8);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

#panel_window > #menubar * {
    text-shadow: none;
}

#panel_window > #menubar *:hover {
    text-shadow: 0px 1px alpha(@dark_shadow, 0.8);
}

#panel_window.menubar.menuitem:hover,
#panel_window.menubar .menuitem:hover,
#panel_window .menubar.menuitem:hover {
    background-color: shade(@selected_bg_color, 0.9);
    border-color: shade(@theme_selected_bg_color, 1.1);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.2)),
                                     to (shade(@theme_selected_bg_color, 1.0)));
}

#message_label {
    color: #d20f0f;
}

#cancel_button,
#login_button,
#login_window .button {
    background-color: shade(@lightdm_bg_color, 0.9);
    background-image: none;

    border-top-color: alpha(@dark_shadow, 0.9);
    border-bottom-color: alpha(@dark_shadow, 0.9);
    border-left-color: alpha (@dark_shadow, 0.9);
    border-right-color: alpha (@dark_shadow, 0.9);
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    text-shadow: 0px 1px alpha(@dark_shadow, 1.0);
    box-shadow: inset 1px 0px alpha(@light_shadow, 0.2),
                inset -1px 0px alpha(@light_shadow, 0.2),
                inset 0px 1px alpha(@light_shadow, 0.3),
                inset 0px -1px alpha(@light_shadow, 0.1);
}

#login_window .button:focus {
    border-color: @theme_selected_bg_color;
}

#language_combobox .button:insensitive,
#session_combobox .button:insensitive {
    background-color: shade (@lightdm_bg_color, 1.5);
}

#login_window GtkComboBox .button {
    padding: 2px 6px 2px 2px;
}

#user_combobox .menu *,
#session_combobox .menu *,
#language_combobox .menu * {
    color: shade (@lightdm_fg_color, 0.2);
    text-shadow: none;
}

#user_combobox .menu *:hover,
#session_combobox .menu *:hover,
#language_combobox .menu *:hover {
    color: @lightdm_fg_color;
    text-shadow: 0px 1px alpha(@dark_shadow, 0.4);
}

#logo {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: alpha(@dark_shadow,0.9);
    padding: 3px;
    box-shadow: inset 1px 0px alpha(@light_shadow, 0.2),
                inset -1px 0px alpha(@light_shadow, 0.2),
                inset 0px 1px alpha(@light_shadow, 0.3),
                inset 0px -1px alpha(@light_shadow, 0.1);
}


#login_window .button:hover {
    background-color: shade(@lightdm_bg_color, 1.15);
    color: @lightdm_fg_color;
}

#login_button:hover {
    background-color: shade(@selected_bg_color, 0.8);
}
