XfceHeading {
    background-color: @theme_base_color;
    background-image: none;
    padding: 0;
    border-width: 0;
}

.xfce4-panel {
    background-color: shade(@panel_bg_color, 0.35);
    font: normal;
}

.xfce4-panel .button {
    border-radius: 0;
    padding: 1px;
    color: @panel_fg_color;
}

.xfce4-panel .button:active {
    background-image: none;
    background-color: shade(@panel_bg_color, 0.7);
    border-color: shade(@panel_bg_color, 0.6);
    transition: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-image: linear-gradient(to bottom,
                                      shade(@selected_bg_color, 0.88),
                                      shade(@selected_bg_color, 0.85)
                                      );

    border-color: shade(@selected_bg_color, 0.6);
    box-shadow: inset 0 -1px alpha(white, 0.0),
                inset 1px 0 alpha(white, 0.15),
                inset -1px 0 alpha(white, 0.15),
                inset 0 1px alpha(white, 0.15);
    transition: none;
}

/* menu-styling, e.g. for indicators */
.xfce4-panel .menu,
.xfce4-panel .menu GtkLabel,
.xfce4-panel .menu GtkImage {
    background-color: shade(@menu_bg_color, 1.18);
    color: @menu_fg_color;
}

.xfce4-panel .menu *:hover {
    background-image: linear-gradient(to bottom,
                                      shade(@theme_selected_bg_color, 1.2),
                                      shade(@theme_selected_bg_color, 1.0)
                                      );

    transition: none;
}

.xfce4-panel .menu GtkLabel:hover,
.xfce4-panel .menu GtkImage:hover {
    background-image: none;
    background-color: transparent;
}
