CatfishWindow .pane-separator {
    background-color: mix(shade(@theme_base_color, 0.9), shade(@theme_selected_bg_color, 1.35), 0.1);
}

XfceHeading,
.XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-image: none;
    background-color: shade(@theme_bg_color, 1.18);
    color: @theme_text_color;
    text-shadow: 0px 1px alpha(@dark_shadow, 0.15);
}

.xfce4-panel {
    background-color: shade(@panel_bg_color, 0.35);
    color: @panel_fg_color;
    font: normal;
}

.xfce4-panel .button {
    border-radius: 0;
    padding: 0 1px;
    color: @panel_fg_color;
    text-shadow: 0px 1px alpha(@dark_shadow, 1.0);
}

.xfce4-panel .button:active {
    background-image: none;
    background-color: shade(@panel_bg_color, 0.7);
    border-color: shade(@panel_bg_color, 0.6);
    color: @panel_fg_color;
    transition: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    border-color: shade(@selected_bg_color, 0.6);
    background-image: linear-gradient(to bottom,
                                      shade(@selected_bg_color, 0.88),
                                      shade(@selected_bg_color, 0.85)
                                      );

    color: @panel_fg_color;

    box-shadow: inset 0 -1px alpha(white, 0.0),
                inset 1px 0 alpha(white, 0.15),
                inset -1px 0 alpha(white, 0.15),
                inset 0 1px alpha(white, 0.15);

    transition: none;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;

    text-shadow: none;
}
