XfcePanelWindow *,
WrapperPlug * {
    background-color: shade(#686868, 0.35);
    background-image: none;
    color: @lightdm_fg_color;
    transition: none;
    box-shadow: none;
    border-style: none;
    border-radius: none;
}

XfcePanelWindow .button,
XfceTasklist .button {
    background-color: shade(#686868, 0.35);
    background-image: none;
    color: @lightdm_fg_color;
    transition: none;
    border-color: shade(#686868, 0.35); /* make the panel-buttons flat */
    border-radius: 0px;
    box-shadow: none;
    padding: 2px;
}

XfcePanelWindow .button:active,
XfceTasklist .button:active,
XfceIndicatorBox .button:active {
    background-color: shade(@selected_bg_color, 0.6);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 0.6)),
                                     to (shade(@selected_bg_color, 0.68)));
    border-color: shade(@lightdm_bg_color, 1.4);
    border-radius: 0px;
    box-shadow: inset 0px -1px alpha(#fff, 0.15),
                inset 0px 1px alpha(#000, 0.25);
    transition: none;
}

XfcePanelWindow *:hover,
XfcePanelWindow .button:active:hover,
XfcePanelWindow .button:hover,
XfceIndicatorBox .button:hover,
XfceTasklist .button:hover,
WrapperPlug *:hover,
XfceIndicatorBox *:hover {
    background-color: shade(@selected_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 0.8)),
                                     to (shade(@selected_bg_color, 0.88)));
    color: @lightdm_fg_color;
    transition: none;
    border-color: shade(@selected_bg_color, 0.95);
    border-radius: 0px;
    box-shadow: none;
}

/* Workaround to fix size of indicator-icons */
XfceIndicatorBox .button {
    border: 1px;
    padding: 0px;
}

/* More workarounds to fix the labels and icon-backgrounds in the indicator-menus */
XfceIndicatorButton GtkLabel,
XfceIndicatorButton .menu GtkImage,
XfcePanelWindow .menu GtkLabel,
XfcePanelWindow .menu GtkImage,
WrapperPlug  .menu GtkLabel,
WrapperPlug  .menu GtkImage {
    padding: 0;
    border-width: 0;
    border-radius: 0;
    background-color: shade(@menu_bg_color, 1.18);
    color: @menu_fg_color;
}

XfceIndicatorButton GtkLabel:hover,
XfceIndicatorButton .menu GtkImage:hover,
XfcePanelWindow .menu GtkLabel:hover,
XfcePanelWindow .menu GtkImage:hover,
WrapperPlug  .menu GtkLabel:hover,
WrapperPlug  .menu GtkImage:hover {
    border-color: shade(@theme_selected_bg_color, 1.1);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.2)),
                                     to (shade(@theme_selected_bg_color, 1.0)));
}