XfceHeading {
    background-color: @theme_base_color;
    background-image: none;
    padding: 0px;
    border-width: 0px;
}

.panel * {
    background-color: shade(#686868, 0.35);
    background-image: none;
    color: @lightdm_fg_color;
    transition: none;
    box-shadow: none;
    border-style: none;
    border-radius: 0px;
}

.panel .button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 0.6)),
                                     to (shade(@selected_bg_color, 0.68)));
    border-color: shade(@lightdm_bg_color, 1.4);
    box-shadow: inset 0px -1px alpha(#fff, 0.15),
                inset 0px 1px alpha(#000, 0.25);
}

.panel *:hover,
.panel *:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 0.8)),
                                     to (shade(@selected_bg_color, 0.88)));
    border-color: shade(@selected_bg_color, 0.95);
    transition: background 0.12s ease-in-out;
}

/* Override dark panel style in menus */
.panel .menu,
.panel .menu GtkLabel,
.panel .menu GtkImage {
    background-color: shade(@menu_bg_color, 1.18);
    color: @menu_fg_color;
}

.panel .menu *:hover,
.panel .menu GtkLabel:hover,
.panel .menu GtkImage:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.2)),
                                     to (shade(@theme_selected_bg_color, 1.0)));
    transition: none;
}