XfceHeading {
    background-color: @theme_base_color;
    background-image: none;
    padding: 0;
    border-width: 0;
}

.xfce4-panel {
    background-color: shade(@panel_bg_color, 0.35);
}

.xfce4-panel .button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 0.6)),
                                     to (shade(@selected_bg_color, 0.68)));
                                     
    border-color: shade(@panel_bg_color, 1.2);
    box-shadow: inset 0 -1px alpha(white, 0.15),
                inset 0 1px alpha(black, 0.25);
}

.xfce4-panel *:hover,
.xfce4-panel *:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 0.8)),
                                     to (shade(@selected_bg_color, 0.88)));
                                     
    border-color: shade(@selected_bg_color, 0.95);
    border-radius: 0;
    transition: none;
}

/* menu-styling, e.g. for indicators */
.xfce4-panel .menu,
.xfce4-panel .menu GtkLabel,
.xfce4-panel .menu GtkImage {
    background-color: shade(@menu_bg_color, 1.18);
    color: @menu_fg_color;
}

.xfce4-panel .menu *:hover,
.xfce4-panel .menu GtkLabel:hover,
.xfce4-panel .menu GtkImage:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.2)),
                                     to (shade(@theme_selected_bg_color, 1.0)));
    transition: none;
}

/* workaround to fix size of indicator-icons */
XfceIndicatorBox .button {
    border: 1px;
    padding: 0;
    color: @panel_fg_color;
}
