XfceHeading {
    background-color: @theme_base_color;
    background-image: none;
    padding: 0;
    border-width: 0;
}

.xfce4-panel {
    background-color: shade(@panel_bg_color, 0.35);
}

.xfce4-panel .button {
    border-radius: 0;
    padding: 1;
}

.xfce4-panel .button:active {
    background-image: none;
    background-color: shade(@panel_bg_color, 0.7);
    border-color: shade(@panel_bg_color, 0.6);
    transition: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@selected_bg_color, 0.88)),
                                     to (shade(@selected_bg_color, 0.85)));
    border-color: shade(@selected_bg_color, 0.6);
    box-shadow: inset 0px -1px alpha(white, 0.0),
                inset 1px 0px alpha(white, 0.15);
                inset -1px 0px alpha(white, 0.15);
                inset 0px 1px alpha(white, 0.15);     
    transition: none;
}

/* menu-styling, e.g. for indicators */
.xfce4-panel .menu,
.xfce4-panel .menu GtkLabel,
.xfce4-panel .menu GtkImage {
    background-color: shade(@menu_bg_color, 1.18);
    color: @menu_fg_color;
}

.xfce4-panel .menu :hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.2)),
                                     to (shade(@theme_selected_bg_color, 1.0)));

    transition: none;
}

.xfce4-panel .menu GtkLabel:hover,
.xfce4-panel .menu GtkImage:hover {
    background-image: none;
    background-color: transparent;
}
